<nav>
  <div class= "logo">
    <%= link_to(image_tag('logo.svg', size: "20x20"), root_path )%>
  </div>
  <div class = "title">
    <a href = '/'><h1>OneTaste</h1></a>
  </div>
  <ul class = "links">
    <% if session[:user_id] %>
    <li><%= link_to "logout", logout_path %></li>
    <li><%= link_to "profile", user_path(session[:user_id]) %></li>
    <% else %>
    <li><%= link_to "login", login_path %></li>
    <li><%= link_to "sign up", new_user_path %></li>
    <% end %>
  </ul>
</nav>
