<% unless current_page?(root_path) %>
<nav>
  <div class= "logo">
    <%= link_to(image_tag('logo.svg', size: "20x20"), root_path )%>
  </div>
  <span id = "header_search" class = "pure-form">
    <% unless current_page?(root_path) %>
    <%= render "partials/restaurant_search" %>
    <% end %>
  </span>
  <div id = "title" class = "title">
    <a href = '/'><h1>OneTaste</h1></a>
  </div>
  <ul class = "links">
    <% if session[:user_id] %>
    <li><%= link_to "logout", logout_path %></li>
    <li><%= link_to "profile", user_path(session[:user_id]) %></li>
    <% else %>
    <li><%= link_to "login", '#', class: "login" %></li>
    <li><%= link_to "sign up", '#', class: "signup" %></li>
    <% end %>
  </ul>
</nav>
<% end %>
