<% if session[:user_id] == @user.id %>
<div class="user_header">
  <!-- <div class="avatar_holder"> -->
  <%= image_tag @user.avatar.url, :class => "profile_avatar"  %>
  <span class='user_info_holder'> <%= @user.username %></span>
<!-- </div> -->
</div>
<div class="user_tools">
<h2>User Restaurants</h2>
<% @user.restaurants.each do |restaurant| %>
  <p><b><%= link_to "#{restaurant.name}",restaurant_path(restaurant) %></b></p>
  <p>Upvotes:  <%= restaurant.votes.count %></p>
<% end %>
<%= link_to "Create New Restaurant", new_restaurant_path %>
</div>

<%else %>
<div class="user_header">
  <%= image_tag @user.avatar.url, :class => "avatar"  %>
  <div class='user_info_holder'>
<h1><%= @user.username %></h1>
</div>
</div
<% end %>
<% if session[:user_id] && @friendship.length == 0 %>
<% if @user.id != session[:user_id] %>
<%= form_for :friendships, url: friendship_create_path, method: 'post' do |f| %>
      <%= f.hidden_field :friend_id, value: @user.id %>
      <%= f.hidden_field :user_id, value: session[:user_id] %>
  <%= submit_tag("Add Friend") %>
  <% end %>
  <% end %>
<% elsif session[:user_id] && @friendship.length == 1 %>
  <br>
<% elsif @user.id == session[:user_id] %>
  <br>
<% end %>
<div class="user_reviews">
  <h2>User Reviews</h2>
  <% @user.reviews.each do |review| %>
    <p><b><%= review.restaurant.name %></b></p>
    <p><%= review.title %></p>
    <p><%= review.content %></p>
    <p><%= review.votes.count %> YUMZ!</p>
  <% end %>
</div>
<div class="reviewers">
  <h2><%= @user.username %>'s Followed Reviewers</h2> <%= render "partials/user_search" %>
  <%= link_to "View All Reviewers", friendships_path(user_id: @user.id) %>
  <% friendships = @user.friendships[0..2] %>
  <div class='reviewer_list'>
  <% friendships.each do |friendship| %>
    <div class='reviewer_info'>
    <p><%=image_tag friendship.friend.avatar.url, :class => "avatar"  %></p>
    <p><%= link_to "#{friendship.friend.username}",user_path(friendship.friend) %></p>
      <% if @user.id == session[:user_id] %>
        <%= form_for :friendships, url: friendship_destroy_path, method: 'delete' do |f| %>
        <%= f.hidden_field :friendship_id, value: friendship.id %>
        <%= submit_tag("Delete Reviewer") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>




