<% if session[:user_id] == @user.id %>
<h1>Welcome <%= @user.username %></h1>
<%=image_tag @user.avatar.url, :class => "avatar"  %>

<%= link_to "Create Restaurant", new_restaurant_path %>
<h2>User Restaurants</h2>
<% @user.restaurants.each do |restaurant| %>
  <p><b><%= link_to "#{restaurant.name}",restaurant_path(restaurant) %></b></p>
  <p>Upvotes:  <%= restaurant.votes.count %></p>
<% end %>


<%else %>
<h1><%= @user.username %></h1>
<% end %>
<h2>User Reviews</h2>
<% @user.reviews.each do |review| %>
  <p><b><%= review.restaurant.name %></b></p>
  <p><%= review.title %></p>
  <p><%= review.content %></p>
  <p>Upvotes:  <%= review.votes.count %></p>
<% end %>

<h2><%= @user.username %>'s Friends</h2>
<% @user.friendships.each do |friendship| %>
  <p><%= friendship.friend.avatar %></p>
  <p><%= link_to "#{friendship.friend.username}",user_path(friendship.friend) %></p>
<% end %>





