<div id = "slogan"><h1>Take your first bite</h1>
</div>
<div id = "home_search">
  <%= form_tag("/search", method: "get", class: "pure-form") do %>
  <%= label_tag(:q, "Find a restaurant:", id: "search_tag") %>
    <%= text_field_tag :search, params[:search], :placeholder => "Bernie's Bistro, Sushi, BBQ...", id: "box", class: "pure-input-1-4" %>
  <%= submit_tag("Search", class: "pure-button") %>
<% end %>
</div>
</div>

<div class = "restaurants_splash">

<h1 class = "subheading"> Try some place new tonight... </h1>

<% @restaurants.each do |restaurant| %>
  <h2 class = "restaurant_title"><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h2>
  <div class = "votes">
    <%= link_to restaurant_votes_path(restaurant), method: :post  do %>
      <img class ='vote' src="/ArrowUp.png" data-url="<%= restaurant_votes_path(restaurant) %>" data-type="<%= restaurant.class %>" data-id="<%= 'restaurant ' + "#{restaurant.id}" %>" data-user="<%= session[:user_id] %>"/><% end %><b id="<%= "restaurant_" + "#{restaurant.id}"%>"><%= restaurant.votes.count %> YUMZ!</b></div>
  <h3 id = "list1"><b><%= restaurant.category%></b></h3>
  <h3 id = "list2"><%= restaurant.street_address%></h3>
  <h3 id = "list"><%= restaurant.city %>, <%=restaurant.state%></h3>
<%end %>

</div>

<div id='users_splash'>
  <h1 class = "subheading" id = "user"> Or read about it first </h1>
<% @users.each do |user| %>
<img id = "reviewer_photo" src = 'seed_photos/<%= rand(6).to_s + ".png" %>' width = "70px" />
  <% review = user.reviews.sample %>
    <h3 id = "title_review"><%= link_to review.title, review_path(review)%></h3>
    <h4 id = "author"> By <%= link_to "#{user.username}", user_path(user.id) %> </h4>
    <h4 id = "subtitle"><%= review.restaurant.name %></h4>
    <h4 id = "city"><%= review.restaurant.city %>, <%= review.restaurant.state %></h4>
<% end %>
</div>
