
<div id = "results_body">
<div class = "results_splash">

<h1 class = "subheading" id = "results_title"> Dig in! </h1>
<% @results.each do |restaurant| %>
  <h2 class = "restaurant_title"><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h2>
  <div class = "votes">
    <%= link_to restaurant_votes_path(restaurant), method: :post  do %>
      <img class ='vote' src="/ArrowUp.png" data-url="<%= restaurant_votes_path(restaurant) %>" data-type="<%= restaurant.class %>" data-id="<%= 'restaurant ' + "#{restaurant.id}" %>" data-user="<%= session[:user_id] %>"/><% end %><b id="<%= "restaurant_" + "#{restaurant.id}"%>"><%= restaurant.votes.count %> YUMZ!</b></div>
  <h3 id = "list1"><b><%= restaurant.category%></b></h3>
  <h3 id = "list2"><%= restaurant.street_address%></h3>
  <h3 id = "list"><%= restaurant.city %>, <%=restaurant.state%></h3>
<%end %>
</div>
</div>
