  <b><p><%= @restaurant.name %></b> <% if @restaurant.creator_id == session[:user_id] %> <%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>
  <% end %>


    <p>Upvotes: <b id='<%=@restaurant.id%>'><%= @restaurant.votes.count %></b>     <%= link_to restaurant_votes_path(@restaurant), method: :post   do %>
      <img class ='vote' src="/button_arrow_green_up.png" data-url="<%= restaurant_votes_path(@restaurant) %>" data-type="<%= @restaurant.class %>" data-id="<%= @restaurant.id %>" data-user="<%= session[:user_id] %>"/>
    <% end %></p>
  <p><%= @restaurant.street_address%></p>
  <p><%= @restaurant.city %>, <%=@restaurant.state%></p>
  <% @images.each do |image| %>
  <%= image_tag image.image.url, :class => "image" %>
  <% end %>

<% if session[:user_id] %>
  <%= form_for :review, url: review_create_path, method: 'post' do |f| %>
    <p><%= f.text_field :title, :placeholder => "Title" %></p>
    <p><%= f.text_area :content, :placeholder => "Review"  %></p>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.hidden_field :reviewer_id, value: session[:user_id] %>
    <p><%= f.submit "Publish" %></p>
  <% end %>
<% end %>

<h3>Add an image for this restaurant:</h3>
<%= form_for([@restaurant, @image]) do |f| %>

  <p><%= f.text_field :caption, :placeholder => "Caption" %></p>
  <%= f.file_field :image, :placeholder => "Upload an image", id: "image" %>
  <%= f.hidden_field :owner_id, value: session[:user_id] %>
  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
<p><%= f.submit "Create" %></p>
<% end %>



  <% reviews = @restaurant.reviews.sort_by {|review| review.votes.count} %>
  <% reviews.reverse.each do |review|%>
  <div id='review'>
    <% if session[:user_id] == review.reviewer_id %>
    <%= link_to "edit", edit_review_path(review) %>
    <%= button_to "delete", review_delete_path(review), method: :delete %>
    <% end %>
  <p><%= review.title %></p>
  <p>Upvotes:  <b id='<%=review.id%>'><%= review.votes.count %></b>
    <%= link_to review_votes_path(review), method: :post   do %>
      <img class ='vote' src="/button_arrow_green_up.png" data-url="<%= review_votes_path(review) %>" data-type="<%= review.class %>" data-id="<%= review.id %>" data-user="<%= session[:user_id] %>"/>
    <% end %>
  </p>
  <p><%= link_to "#{review.reviewer.username}", user_path(review.reviewer.id) %></p>
  <p><%= review.content%></p>
  </div>
  <br>
  <% end %>

