  <b><p><%= @restaurant.name %></b> <% if @restaurant.creator_id == session[:user_id] %> <%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>
  <% end %>


  <p>Upvotes: <%= @restaurant.votes.count  %><p>
  <p><%= @restaurant.street_address%></p>
  <p><%= @restaurant.city %>, <%=@restaurant.state%></p>
  <% @images.each do |image| %>
  <%= image_tag image.image.url, :class => "image" %>
  <% end %>


<h3>Add an image for this restaurant:</h3>
<%= form_for([@restaurant, @image]) do |f| %>

  <p><%= f.text_field :caption, :placeholder => "Caption" %></p>
  <%= f.file_field :image, :placeholder => "Upload an image", id: "image" %>
  <%= f.hidden_field :owner_id, value: session[:user_id] %>
  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
<p><%= f.submit "Create" %></p>
<% end %>


<div id='review_box'>
  <% reviews = @restaurant.reviews.sort_by {|review| review.votes.count} %>
  <% reviews.reverse.each do |review|%>
  <p><%= review.title %></p>
  <p><b>Upvotes:  <%= review.votes.count %></b>
    <%= link_to review_votes_path(review), method: :post   do %>
      <img class ='vote' src="/button_arrow_green_up.png" data-url="<%= review_votes_path(review) %>" data-type ="<%= review.class%>"/>
    <% end %>
  </p>
  <p><%= link_to "#{review.reviewer.username}", user_path(review.reviewer.id) %></p>
  <p><%= review.content%></p>
  <br>
  <% end %>
</div>
