
<b><p id="restaurant_name"><%= @restaurant.name %></b> <% if @restaurant.creator_id == session[:user_id] %> <%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>
<% end %>


  <div id="carousel">
    <% if @images != nil %>
   <%= hidden_field_tag("images_length", @images.length , {:id => "images_length"})%>
      <% view_image = @images.first %>
      <% if view_image != nil %>
        <%= image_tag view_image.image.url, :class => "restaurant_image_visible", :id => "restimage0" %>
      <% end %>
      <% hide_image = @images[1..@images.length] %>
      <% if hide_image != nil %>
        <% hide_image.each_with_index do |image, index| %>
        <%= image_tag image.image.url, :class => "restaurant_image_hidden", :id => "restimage#{index + 1}" %>
        <% end %>
      <% end %>
    <% end %>
  </div>


<div class="details">
<div class="restaurant_details">
<p><div class = "test" id="<%= "restaurant_" + "#{@restaurant.id}"%>"><%= @restaurant.votes.count  %> YUMZ!</div>     <%= link_to restaurant_votes_path(@restaurant), method: :post   do %>
  <img class ='vote' src="/arrowUp.png" data-url="<%= restaurant_votes_path(@restaurant) %>" data-type="<%= @restaurant.class %>" data-id="<%= 'restaurant ' + "#{@restaurant.id}" %>" data-user="<%= session[:user_id] %>"/>
    <% end %></p>

<p><%= @restaurant.street_address%></p>
<p><%= @restaurant.city %>, <%=@restaurant.state%></p>
</div>
<div class="restaurant_actions">
<% if session[:user_id] %>
  <%= form_for :review, url: review_create_path, method: 'post' do |f| %>
    <p><%= f.text_field :title, :placeholder => "Title" %></p>
    <p><%= f.text_area :content, :placeholder => "Review"  %></p>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.hidden_field :reviewer_id, value: session[:user_id] %>
    <p><%= f.submit "Publish" %></p>
  <% end %>

  <h3>Add an image for this restaurant:</h3>

    <%= form_for([@restaurant, @image]) do |f| %>
      <p><%= f.text_field :caption, :placeholder => "Caption" %></p>
      <%= f.file_field :image, :placeholder => "Upload an image", id: "image" %>
      <%= f.hidden_field :owner_id, value: session[:user_id] %>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
      <p><%= f.submit "Create" %></p>
    <% end %>
<% end %>
</div>
</div>

<div class="super_critics">

</div>
<ul id = "top_reviewers">
<% if @restaurant.top_reviewers != nil %>
  <% @restaurant.top_reviewers.each_with_index do |review, index| %>

    <li>
      <h2>SUPER CRITIC</h2>
      <img class = 'star' src="/gold_star.png">
      <h3><%= review.title %></h3>

      <p><%= link_to "#{review.reviewer.username}", user_path(review.reviewer.id) %></p>
      <p>Total YUMZ!: <%= review.reviewer.points.count %></p>
      <p><div id="<%= "review_" + "#{review.id}"%>"><%= review.votes.count %> YUMZ!</div>
        <%= link_to review_votes_path(review), method: :post   do %>
          <img class ='vote' src="/arrowUp.png" data-url="<%= review_votes_path(review) %>" data-type="<%= review.class %>" data-id="<%= 'review ' + "#{review.id}" %>" data-user="<%= session[:user_id] %>"/>
        <% end %></p>
      <p><%= review.content%></p>
  <% end %>
  <% end %></li>
</ul>
  <br>


<% reviews = @restaurant.reviews.sort_by {|review| review.votes.count} %>
<% reviews.reverse.each do |review|%>
  <div class='review'>
  <% if session[:user_id] == review.reviewer_id %>
    <%= link_to "edit", edit_review_path(review) %>
    <%= button_to "delete", review_delete_path(review), method: :delete %>
  <% end %>

  <h3><%= review.title %></h3>

  <p><div id="<%= "review_" + "#{review.id}"%>"><%= review.votes.count %> YUMZ!</div>
    <%= link_to review_votes_path(review), method: :post   do %>
      <img class ='vote' src="/arrowUp.png" data-url="<%= review_votes_path(review) %>" data-type="<%= review.class %>" data-id="<%= 'review ' + "#{review.id}" %>" data-user="<%= session[:user_id] %>"/>
    <% end %>
  </p>

  <p><%= link_to "#{review.reviewer.username}", user_path(review.reviewer.id) %></p>
  <p><%= review.content%></p>
  <br>

  <% if review.comments.length > 0 %>
    <h4>Comments</h4>
  <% end %>

 <% if session[:user_id] %>
    <%= form_for :comment, url: comment_create_path, method: 'post' do |f| %>
      <p><%= f.text_area :content, :placeholder => "Comment"  %></p>
      <%= f.hidden_field :review_id, value: review.id %>
      <%= f.hidden_field :commenter_id, value: session[:user_id] %>
      <p><%= f.submit "Publish" %></p>
    <% end %>
  <% end %>

  <div id="comment">

  <% review.comments.each do |comment| %>
    <% if session[:user_id] == comment.commenter_id %>
      <%= button_to "delete", comment_delete_path(comment), method: :delete %>
    <% end %>

    <%= link_to "#{comment.commenter.username}", user_path(comment.commenter.id) %>
    <%= comment.content %>
    <p><div id="<%= "comment_" + "#{comment.id}"%>"><%= comment.votes.count %> YUMZ!</div>

    <%= link_to comment_votes_path(comment), method: :post   do %>
      <img class ='vote' src="/arrowUp.png" data-url="<%= comment_votes_path(comment) %>" data-type="<%= comment.class %>" data-id="<%= 'comment ' + "#{comment.id}" %>" data-user="<%= session[:user_id] %>"/>
      </p>
    <% end %>

  <br>
    <% if comment.replies != nil %>
      <h4>Comment Replies</h4>
    <% end %>

    <% comment.replies.each do |reply| %>
      <%= reply.commenter %>
      <%= reply.content %>
    <% end %>

  <% end %>
  </div>
</div>
<br>
<% end %>

