  <b><p><%= @restaurant.name %></b> <% if @restaurant.creator_id == session[:user_id] %> <%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>
  <% end %>


    <p>Upvotes: <b id='<%=@restaurant.id%>'><%= @restaurant.votes.count %></b>     <%= link_to restaurant_votes_path(@restaurant), method: :post   do %>
      <img class ='vote' src="/button_arrow_green_up.png" data-url="<%= restaurant_votes_path(@restaurant) %>" data-type="<%= @restaurant.class %>" data-id="<%= @restaurant.id %>" data-user="<%= session[:user_id] %>"/>
    <% end %></p>
  <p><%= @restaurant.street_address%></p>
  <p><%= @restaurant.city %>, <%=@restaurant.state%></p><br>





  <% reviews = @restaurant.reviews.sort_by {|review| review.votes.count} %>
  <% reviews.reverse.each do |review|%>
  <div id='review'>
  <p><%= review.title %></p>
  <p>Upvotes:  <b id='<%=review.id%>'><%= review.votes.count %></b>
    <%= link_to review_votes_path(review), method: :post   do %>
      <img class ='vote' src="/button_arrow_green_up.png" data-url="<%= review_votes_path(review) %>" data-type="<%= review.class %>" data-id="<%= review.id %>" data-user="<%= session[:user_id] %>"/>
    <% end %>
  </p>
  <p><%= link_to "#{review.reviewer.username}", user_path(review.reviewer.id) %></p>
  <p><%= review.content%></p>
  </div>
  <br>
  <% end %>

